<h1>Burning Airlines</h1>

<h2>Seat Allocation</h2>

<div id="#"></div>

<div id="name"></div>

<div id="date>"</div>

<div id="flight_num"><div>

<div id="origin"></div>

<div id="destination"></div>

<div id="seat_id"></div>

<div id="#"></div>

<!-- ********************************************************  -->
<!-- Hard-coded seat grid -->

<table id="seats">

<tr>
  <div id="columnA"><th>A</th></div>
  <div id="columnB"><th>B</th></div>
  <div id="columnC"><th>C</th></div>
  <div id="columnD"><th>D</th></div>
</tr>


<table id="actual_seats">

<tr>
  <td id="1A">1A</td>
  <td id="2B">2B</td>
  <td id="3C">3C</td>
  <td id="4D">4D</td>
</tr>

<tr>
  <td id="5A">5A</td>
  <td id="6B">6B</td>
  <td id="7C">7C</td>
  <td id="8D">8C</td>
</tr>

<tr>
  <td id="9A">9A</td>
  <td id="10B">10B</td>
  <td id="11C">11C</td>
  <td id="12D">12D</td>
</tr>

<tr>
  <td id="13A">13A</td>
  <td id="14B">14B</td>
  <td id="15C">15C</td>
  <td id="16D">16D</td>
</tr>

<tr>
  <td id="17A">17A</td>
  <td id="18B">18B</td>
  <td id="19C">19C</td>
  <td id="20D">20D</td>
</tr>

<tr>
  <td id="21A">21A</td>
  <td id="22B">22B</td>
  <td id="23C">23C</td>
  <td id="24D">24D</td>
</tr>

</table>

</table>
