<div id="main"></div>

<script type="text/x-template" id="appView">
  <h1>Search Flights</h1>

  <!-- <div id="flightSearchView"></div>


  <ul id="displayFlightSearch"></ul>

<<<<<<< HEAD
  <ul id="viewUsers">View Users</ul> -->
=======
  <ul id="viewUsers">View Users</ul>
>>>>>>> f0191f8fdb35c3a8fcba9a95681b2a70db69b324

</script>

<script type="text/x-template" id="planeSeatsView">
  <table id="planeSeatsTable"></table>
<<<<<<< HEAD

=======
>>>>>>> f0191f8fdb35c3a8fcba9a95681b2a70db69b324
</script>

<!-- <script type="text/x-template" id="searchFlightInput"> -->
  <textarea placeholder="From"></textarea>
  <textarea placeholder="To"></textarea>
  <button>Search</button>
<!-- </script> -->
