<div id="main"></div>

<script type="text/x-template" id="appView">
  <h1>Search Flights</h1>

  <div id="flightSearchView"></div>

  <ul id="displayFlightSearch"></ul>

  <ul id="viewUsers">View Users</ul>

</script>

<script type="text/x-template" id="planeSeatsView">
  <table id="planeSeatsTable"></table>
</script>

<!-- <script type="text/x-template" id="searchFlightInput"> -->
  <textarea placeholder="From"></textarea>
  <textarea placeholder="To"></textarea>
  <button>Search</button>
<!-- </script> -->
