<div id="main"></div>

<script type="text/template" id="appViewTemplate">
  <% if @current_user.present? %>
    <div id="headerContainer">
      <p>Flight Search</p>

      <div id="searchForm"></div>
    </div>

    <ul id="flightLists">
      <p>Search for a flight to continue</p>
    </ul>
  <% end %>
</script>

<script type="text/template" id="searchInputViewTemplate">
  <select name="Travel Origin" id="originSelect"></select>
  <select name="Travel Destination" id="destinationSelect"></select>
  <button id="searchButton">Search</button>
</script>

<script type="text/template" id="flightView">
  <h3>Flight Info</h3>
  <p>Flight Number: {{ flight_num }}</p>
  <p>Date: {{ date }}</p>
  <p>Origin: {{ origin }}</p>
  <p>Destination: {{ destination }}</p>
  <table id="planeSeatsTable"></table>
  <a href="#" id="submit">Submit</a>
  <a href="#" id="clear">Clear</a>
  </div>
</script>

<script type="text/template" id="seatView"></script>

<script>
  <% if @current_user.present? %>
    var current_user_id = <%= @current_user.id %>;
  <% end %>
</script>
