<div id="main"></div>

<script type="text/template" id="appViewTemplate">
  <div id="headerContainer">
    <h1>Burning Airlines</h1>
    <p>Flight Search</p>

    <div id="searchForm"></div>
  </div>

  <ul id="flightLists">
    <p>Search for a flight to continue</p>
  </ul>
  <ul id="seatingPlan"></ul>
</script>

<script type="text/template" id="searchInputViewTemplate">
  <select name="Travel Origin" id="originSelect"></select>
  <select name="Travel Destination" id="destinationSelect"></select>
  <button id="searchButton">Search</button>
</script>

<script type="text/template" id="flightView">
  <h1>Flight Info</h1>
  <p>Flight Number: {{ flight_num }}</p>
  <p>Date: {{ date }}</p>
  <p>Origin: {{ origin }}</p>
  <p>Destination: {{ destination }}</p>
  </div>
</script>

<script type="text/template" id="seatView"></script>
