<div id="main"></div>

<script type="text/x-template" id="appView">
  <h1>Burning Airlines</h1>

  <div id="viewPlanes">View Airplanes</div>

  <ul id="viewFlights">View Flights</ul>

  <div id="viewReservations">View Reservations</div>

  <ul id="viewUsers">View Users</ul>

</script>

<script type="text/x-template" id="planeSeatsView">
  <table id="planeSeatsTable"></table>
</script>
