html,
body {
  width: 100vw;
}
#planeSeatsTable {
  margin: 0 auto;
  width: 300px;
  text-align: center;
}
td {
  border: 1px solid #BABABA;
  padding: 5px;
  background-color: #47D4BD;
  color: #4C4C4C;
}

.unavailable {
  background-color: #309182;
}

#submit,
#clear {
  width: 70px;
  border: 1px solid #BABABA;
  padding: 5px;
  text-decoration: none;
  color: #4C4C4C;
  margin: 15px auto;
  display: block;
  text-align: center;
}
